* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
.navbar-brand {
  color: white;
}
#todo-list {
  list-style-type: none;
  padding: 0;
}
#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.completed {
  text-decoration: line-through;
  color: #888;
}
.branding {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
}
.branding h2 {
  margin-top: 10px;
}
.input-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px; /* Adds space between input and button */
  max-width: 700px; /* Adjust as needed */
  margin: 0 auto; /* Centers the div horizontally */
  padding: 20px;
}
.input-group {
  width: 100%; /* Makes input take full width of parent */
}

.btn-success {
  width: 100%; /* Makes button take full width of parent */
  font-weight: bolder;
}
